/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  background-color: #28282b;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.7rem;
  background-color: aqua;
  font-weight: 600;
}

.main {
  /*background-image: url("../logo/images.jpg");*/
  background: linear-gradient(to top, #d3d3d3 40%, #28282b 60%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  height: auto;
}

.vnosItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  gap: 1rem;
}
.vnosnaPolja {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.vnosVrstica {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Dodajte razmak između redova ako je potrebno */
}
.vnosVrstica label {
  flex: 1;
}

.vnosVrstica .radio-group {
  display: flex;
  gap: 5%; /* Razmak između radio dugmića */
}
vsaVnosna {
  display: flex;
  flex-direction: column;
  gap: 50rem;
  background: #d3d3d3;
}

.vnosnoPoljePDF {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2.5px dashed black;
  padding: 1rem;
}

.oknoDrag {
  background-color: #28282b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pdfBesedilo {
  /*background-image: url('../logo/images2.jpg');*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #41424c;
}

.header-title {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: white;
}

.header-logo {
  width: 20%;
  height: auto;
}

.header-container {
  background-color: #28282b;
}

.skupiKreZap {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.skupiKreZap1 {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 70vw;
  gap: 5rem;
}

.pravougaonik {
  background-color: #f8f9fa; /* Svetlo siva boja */
  border: 1px solid #dee2e6; /* Blago siva ivica */
  border-radius: 8px; /* Zaobljene ivice */
  padding: 1rem; /* Unutrašnja margina */
  margin-bottom: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Svetlo siva senka ispod */
}

.pravougaonik1 {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pravougaonik2 {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-inline: 1rem;
}

.containerOknoDrag {
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.container123 {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.buttonContainer {
  margin-top: 1rem;
  text-align: center;
}

.border-dashed {
  border: 2px dashed #d3d3d3;
  background-color: #28282b;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  transition: all 0.3s ease;
}

.border-dashed:hover {
  background-color: #41424c;
  transform: scale(1.05);
}

.border-dashed h1 {
  color: #d3d3d3;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-color: #d3d3d3 !important;
  color: #28282b !important;
  border-color: #d3d3d3 !important;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #c2c2c2 !important;
  border-color: #c2c2c2 !important;
  transform: scale(1.05);
}

.uploads {
  color: white;
}

.progress-bar-wrapper {
  padding: 10px;
  border-radius: 5px;
}

.izbrisiGumbContainer{
display: flex;
justify-content: end;
}

.izbrisiGumb{
  font-size: 1.2rem;
  color: lightgrey;
  font-weight: 700;
}
.izbrisiGumb:hover{
  color: red;
  transition-duration: 200ms;
  cursor: pointer;
}

